.sub1_bg{background: url("../images/sub1/sub1_bg.jpg") no-repeat; background-position: center; object-fit: cover;
width: 100%; height: auto;}
.css-1wxkzlj-MuiTabs-flexContainer { display: flex; justify-content: space-around;}
